<section class="mission">
  <div class="mission__inner">
    <div class="mission__rings" aria-hidden="true">
      <div class="mission__ring mission__ring--1"></div>
      <div class="mission__ring mission__ring--2"></div>
      <div class="mission__ring mission__ring--3"></div>
    </div>

    <p class="mission__quote-mark" aria-hidden="true">&ldquo;</p>

    <p class="mission__eyebrow animate-on-scroll">{{TXT_ABOUT_MISSION_EYEBROW}}</p>

    <p class="mission__label mission__label--1">{{TXT_ABOUT_MISSION_FIRST_LABEL}}</p>
    <p class="mission__statement mission__statement--1">{{TXT_ABOUT_MISSION_FIRST_STATEMENT}}</p>

    <p class="mission__label mission__label--2">{{TXT_ABOUT_MISSION_SECOND_LABEL}}</p>
    <p class="mission__statement mission__statement--2">{{TXT_ABOUT_MISSION_SECOND_STATEMENT}}</p>
  </div>
</section>
