<footer class="footer">
  <div class="footer__top-bar"></div>
  <div class="footer__inner">
    <a class="footer__logo-link" href="/index.html">
      <img class="footer__logo" src="/assets/images/logo-footer.webp" width="211" height="211" alt="{{TXTA_SITE_FOOTER_LOGO_ALT}}" loading="lazy" />
    </a>
    <p class="footer__tagline">{{TXT_SITE_FOOTER_TAGLINE}}</p>
    <p class="footer__tagline-ar">{{TXT_SITE_FOOTER_TAGLINE_AR}}</p>

    <div class="footer__col footer__col--services">
      <p class="footer__col-title">{{TXT_SITE_FOOTER_SERVICES_TITLE}}</p>
      <div class="footer__col-rule"></div>
      <ul class="footer__col-list">
{{FOOTER_SERVICES_LIST}}
      </ul>
    </div>

    <div class="footer__col footer__col--company">
      <p class="footer__col-title">{{TXT_SITE_FOOTER_COMPANY_TITLE}}</p>
      <div class="footer__col-rule"></div>
      <ul class="footer__col-list">
{{FOOTER_COMPANY_LIST}}
      </ul>
    </div>

    <div class="footer__col footer__col--contact">
      <p class="footer__col-title">{{TXT_SITE_FOOTER_CONTACT_TITLE}}</p>
      <div class="footer__col-rule"></div>
      <ul class="footer__col-list">
        <li>{{TXT_SITE_FOOTER_CONTACT_EMAIL}}</li>
        <li>{{TXT_SITE_FOOTER_CONTACT_REGIONS}}</li>
        <li>{{TXT_SITE_FOOTER_CONTACT_HOURS}}</li>
      </ul>
    </div>

    <div class="footer__col footer__col--follow">
      <p class="footer__col-title">{{TXT_SITE_FOOTER_FOLLOW_TITLE}}</p>
      <div class="footer__col-rule"></div>
      <ul class="footer__col-list">
{{FOOTER_SOCIAL_LIST}}
      </ul>
    </div>

    <div class="footer__divider"></div>
    <div class="footer__bottom-row">
      <span>{{TXT_SITE_FOOTER_COPYRIGHT}}</span>
      <span><a href="/privacy-policy.html" class="footer__legal-link">Privacy Policy</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="/terms-of-service.html" class="footer__legal-link">Terms of Service</a></span>
    </div>
  </div>
</footer>
