<section class="problem-solution" id="problem-solution">
  <div class="page problem-solution__inner">
    <div class="problem-solution__pattern" aria-hidden="true"></div>

    <p class="problem-solution__eyebrow animate-on-scroll">{{TXT_HOME_PROBLEM_SOLUTION_EYEBROW}}</p>
    <h2 class="problem-solution__heading animate-on-scroll">{{TXT_HOME_PROBLEM_SOLUTION_HEADING}}</h2>

    <p class="problem-solution__col-label problem-solution__col-label--challenge">{{TXT_HOME_PROBLEM_SOLUTION_CHALLENGE_LABEL}}</p>
    <p class="problem-solution__col-label problem-solution__col-label--solution">{{TXT_HOME_PROBLEM_SOLUTION_SOLUTION_LABEL}}</p>

    <div class="problem-solution__rule animate-on-scroll" aria-hidden="true"></div>

    <ul class="problem-solution__list">
      <li class="problem-solution__row">
        <div class="problem-solution__cell problem-solution__cell--challenge">
          <span class="problem-solution__icon problem-solution__icon--challenge" aria-hidden="true">&#10005;</span>
          <span class="problem-solution__text">{{TXT_HOME_PROBLEM_SOLUTION_ROW1_CHALLENGE}}</span>
        </div>
        <div class="problem-solution__cell problem-solution__cell--solution">
          <span class="problem-solution__icon problem-solution__icon--solution" aria-hidden="true">&#10003;</span>
          <span class="problem-solution__text">{{TXT_HOME_PROBLEM_SOLUTION_ROW1_SOLUTION}}</span>
        </div>
      </li>
      <li class="problem-solution__row">
        <div class="problem-solution__cell problem-solution__cell--challenge">
          <span class="problem-solution__icon problem-solution__icon--challenge" aria-hidden="true">&#10005;</span>
          <span class="problem-solution__text">{{TXT_HOME_PROBLEM_SOLUTION_ROW2_CHALLENGE}}</span>
        </div>
        <div class="problem-solution__cell problem-solution__cell--solution">
          <span class="problem-solution__icon problem-solution__icon--solution" aria-hidden="true">&#10003;</span>
          <span class="problem-solution__text">{{TXT_HOME_PROBLEM_SOLUTION_ROW2_SOLUTION}}</span>
        </div>
      </li>
      <li class="problem-solution__row">
        <div class="problem-solution__cell problem-solution__cell--challenge">
          <span class="problem-solution__icon problem-solution__icon--challenge" aria-hidden="true">&#10005;</span>
          <span class="problem-solution__text">{{TXT_HOME_PROBLEM_SOLUTION_ROW3_CHALLENGE}}</span>
        </div>
        <div class="problem-solution__cell problem-solution__cell--solution">
          <span class="problem-solution__icon problem-solution__icon--solution" aria-hidden="true">&#10003;</span>
          <span class="problem-solution__text">{{TXT_HOME_PROBLEM_SOLUTION_ROW3_SOLUTION}}</span>
        </div>
      </li>
      <li class="problem-solution__row">
        <div class="problem-solution__cell problem-solution__cell--challenge">
          <span class="problem-solution__icon problem-solution__icon--challenge" aria-hidden="true">&#10005;</span>
          <span class="problem-solution__text">{{TXT_HOME_PROBLEM_SOLUTION_ROW4_CHALLENGE}}</span>
        </div>
        <div class="problem-solution__cell problem-solution__cell--solution">
          <span class="problem-solution__icon problem-solution__icon--solution" aria-hidden="true">&#10003;</span>
          <span class="problem-solution__text">{{TXT_HOME_PROBLEM_SOLUTION_ROW4_SOLUTION}}</span>
        </div>
      </li>
    </ul>
  </div>
</section>
